# Aplicación interactiva
streamlit==1.38.0

# Librería de aprendizaje incremental
river==0.21.0

# Dependencias de visualización y manejo de datos
pandas==2.2.3
numpy==1.26.4
altair==5.3.0
pydeck==0.9.1

# Autenticación de GCP (solo si deseas mantenerlo por compatibilidad)
google-auth==2.3.2
